
body{
    height: 100%;
	width: 100%;
    text-align: center;
    background-image: linear-gradient(green,yellow);
    background-repeat: no-repeat;
    background-size: cover; 
    font-size: xx-large;
}
button{
    width: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 2.5vh;
    color: white;
}
#increment-btn{
    background-color: blue;    
}
#save-btn{
    background-color: black;
}
#reset-btn{
    background-color: red;
}
p{
    font-weight: bolder;
    font-size: 10vh;
}